version: '3'

services:

  node:
    build:
      context: node
    container_name: node
    networks:
      - node-network
    volumes:
      - ./node:/usr/src/node
    tty: true
    depends_on:
       - db

  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
      - ./node/mysql:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network

  nginx:
    build:
      context: nginx
    container_name: nginx
    ports:
      - "8000:80"
    depends_on:
      - db
      - node
    networks:
      - node-network


networks:
  node-network:
    driver: bridge
